--allow-all-external
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
Flask==0.10.1
Flask-Cors==2.1.2
futures==3.0.3
greenlet==0.4.9
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mysql-connector-python==2.0.4
PyYAML==3.11
singledispatch==3.4.0.3
six==1.10.0
tabulate==0.7.5
tornado==4.3
Werkzeug==0.11.3
wheel==0.24.0
