{% extends "_base.html" %}

{% block content %}

<div class="container">
  <div class="row sonnet__title">
    <h1 class="text-center">{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {% for line in poem_lines %}
        <p>{{line}}</p>
      {% else %}
        <p>so much depends on a red wheelbarrow</p>
      {% endfor %}
    </div>
    {% if image is defined %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src={{image}} class="sonnet__image">
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
