iso8601=0.1.10
lxml==3.4.4
mediawiki-parser==0.3.3
mwlib==0.15.14
mwparserfromhell==0.4.2
nltk==3.0.5
parse==1.6.6
path.py==7.6
Pattern==2.6
simplejson==3.8.0
textblob==0.9.1
timelib==0.2.4
tinys3==0.1.11
wikimarkup==1.0
xattr==0.6.4
xmltodict==0.9.2
