/* custom styles */

/*.container {
  max-width: 500px;
}*/

.index__title {
  padding-bottom: 30px;
}

.index__byline {
  padding-bottom: 30px;
}

.search-form {
  display: inline-block;
}

.search-form__label {
  display: inline-block;
  color: blue;
  font-weigth: bold;
  text-decoration: underline;
}

.search-form__input {
  display: inline-block;
  width: auto;
}

.ui-autocomplete-loading {
  background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right center;
}

.sonnet__image {
  max-height: 485px;
  width: auto;
  max-width: 100%;
}

.sonnet__title {
  padding-bottom: 50px;
}