/* custom styles */

/*.container {
  max-width: 500px;
}*/

.search-form {
  display: inline-block;
}

.search-form__label {
  display: inline-block;
  color: blue;
  font-weigth: bold;
  text-decoration: underline;
}

.search-form__input {
  display: inline-block;
  width: auto;
}

.ui-autocomplete-loading {
  background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
     no-repeat
     right center;
}